# Visual Studio and VS Code files
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.ionide/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# .NET
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Blazor WebAssembly
wwwroot/js/

# Azure Functions
local.settings.json
Properties/launchSettings.json
appsettings.local.json
appsettings.development.json

# Azure Storage Emulator/Storage Explorer
*.sbc
*.rsp 

# NuGet packages
*.nupkg
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Testing
TestResults/
[Tt]est[Rr]esult*/
coverage/
*.coverage
*.coveragexml

# OS specific
.DS_Store
Thumbs.db