@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <div class="me-auto">Hello, @context.User.Identity.Name!</div>
                    <button class="btn btn-link" @onclick="BeginLogout">Log out</button>
                </Authorized>
                <NotAuthorized>
                    <button class="btn btn-primary" @onclick="BeginLogin">Log in</button>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private void BeginLogin()
    {
        Navigation.NavigateToLogin("authentication/login");
    }

    private void BeginLogout()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }

    [Inject]
    private NavigationManager Navigation { get; set; }
}
